.venvGPT/
.vscode/
flagged/
data/
result/
samples/

*.ipynb
*.pyc
*.webm
*.png
*.jpg
*.docx
*.json
*.csv
*.sh

config.py
apikey.py
apikey.txt
OpenAI_Key.txt
Baidu_Key.txt
Ali_Key.txt
Kimi_Key.txt
Spark_Key.txt